@model BookKaroMVC.Models.tblUser

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblUser</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserFirstName)
                @Html.ValidationMessageFor(model => model.UserFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserLastName)
                @Html.ValidationMessageFor(model => model.UserLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserDisplayName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserDisplayName)
                @Html.ValidationMessageFor(model => model.UserDisplayName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsePassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsePassword)
                @Html.ValidationMessageFor(model => model.UsePassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseLast_Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseLast_Login)
                @Html.ValidationMessageFor(model => model.UseLast_Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserRegistration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserRegistration)
                @Html.ValidationMessageFor(model => model.UserRegistration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserType)
                @Html.ValidationMessageFor(model => model.UserType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPreviousPasswordDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPreviousPasswordDate)
                @Html.ValidationMessageFor(model => model.UserPreviousPasswordDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserLoginDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserLoginDate)
                @Html.ValidationMessageFor(model => model.UserLoginDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserAddress)
                @Html.ValidationMessageFor(model => model.UserAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleID, "RoleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", String.Empty)
                @Html.ValidationMessageFor(model => model.RoleID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
