<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>Book Karo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="description" content="BookKaro" />
    <meta name="author" content="Techwitz" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.png")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap-datetimepicker.css")" />
    <link href="http://fonts.googleapis.com/css?family=Amaranth:400,700" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/jquery-1.11.3.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/bootstrap.js")"></script>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/Styles/bootstrap.css")" rel="stylesheet" />

    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap.min.css")" type="text/css" />
    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/Styles/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/responsive.css")" rel="stylesheet" />




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->


</head>
<body id="top">
   

        <!-- begin:navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <a class="navbar-brand" href="index.html"><img src="@Url.Content("~/Content/Images/book6.png")" /> </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-top">
                    <ul  class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="#">Deals </a> </li>
                        <li class="dropdown"><a href="#">Pick Karo </a> </li>

                       



                        <li><a href="#modal-signin" class="signin" data-toggle="modal" data-target="#modal-signin" onclick="return signin()">Sign in</a></li>
                        <li><a href="#" class="signup" data-toggle="modal" data-target="#modal-signup" onclick="return signup()">Sign up</a></li>

                        @*<li class="FBDetails"><asp:Label ID="lblName"  Text="" Visible="false"></asp:Label></li>
                        <li class="FBImg"><asp:Image ID="ProfileImage"  Width="30" Height="30" Visible="false" /></li>
                        <li><asp:LinkButton  class="signup" ID="LogoutBtn" OnClick="LogoutBtn_Click" Visible="false"> Log Out </asp:LinkButton></li>*@

                   
</ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
        <!-- end:navbar -->
        @*<div class="container body-content">*@
            @RenderBody()
            @*<hr />

        </div>*@

        <!--jQuery, Bootstrap and other vendor JS-->
        <!-- begin:footer -->
        <div id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h2 class="headings">Subscribe To Book Karo Newsletter</h2>
                        <h4 class="headings">Get New Offers & Deals</h4>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="input-group">

                            @Html.TextBox("tbxEmail", null, new {placeholder="Enter Your Mail", @class="form-control input-lg", TextMode ="Email" })
                            <span class="input-group-btn">
                               @Html.ActionLink("Subscribe","Subscribe","Home", new {@class="btn btn-success btn-lg"} )<i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row footer-links">
          <div class=" col-md-6 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h5>Book Karo</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Rate & Policies</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h5>Quick Links</h5>
                        <ul>
                            <li><a href="#">Weeding Events</a></li>
                            <li><a href="#">Birthday Parties</a></li>
                            <li><a href="#">Business Events</a></li>
                            <li><a href="#">Virtual Tour</a></li>
                            <li><a href="#">Galery</a></li>
                            <li><a href="#">Services</a></li>



                        </ul>
                    </div>
                </div>

                <!-- break -->
            </div>
            <!-- break -->
        </div>
        <!-- begin:copyright -->
        <div class="row">
            <div class="col-md-12 copyright">
                <p>Copyright &copy; 2015 Techwitz. All Right Reserved.</p>
                <p> <strong>Book Karo</strong></p>
                <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
                <ul class="list-inline social-links">
                    <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end:copyright -->
        </div>

        <!-- begin:modal-signin -->
        <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <asp:LinkButton ID="LinkButton1"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</asp:LinkButton>
                        <h4 class="modal-title">Login </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <asp:Label ID="Label1" >Email address</asp:Label>
                            @Html.TextBox("SigninMail", "", new { @class = "form-control input-lg", type = "email", placeholder = "e-mail address" })                   
                        </div>
                        <div class="form-group">
                            <asp:Label ID="Label2" >Password</asp:Label>
                            @Html.TextBox("SigninPass", "", new { @class = "form-control input-lg", type = "Password", placeholder = "Password" })                                       
                        </div>
                        <div class="checkbox">
                            <asp:Label ID="Label3" >
                                <asp:CheckBox ID="CheckBox1"  name="forget" /> Keep me logged in
                            </asp:Label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>Don't have account ? <a href="#modal-signup" data-toggle="modal" data-target="#modal-signup">Sign up here.</a></p>
                        <asp:Button ID="SigninButton"  class="btn btn-success btn-block btn-lg" Text="Sign in" OnClick="SigninButton_Click"></asp:Button>
                        <asp:Button ID="FbLogin"  class="btn btn-success btn-block btn-lg facebook-btn" Text="Login using Facebook" OnClick="FbLogin_Click"></asp:Button>

                    </div>
                </div>
            </div>
        </div>
        <!-- end:modal-signin -->
        <!-- begin:modal-signup -->
        <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <asp:LinkButton ID="LinkButton2"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</asp:LinkButton>
                        <h4 class="modal-title">Grab Your Membership Now</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                       @Html.TextBox("Signupmail", "", new { @class="form-control input-lg", type = "email", placeholder = "example@mail.ru" })  
                        </div>
                        <div class="form-group">
             @Html.TextBox("Signuppass", "", new { @class = "form-control input-lg", type = "password", placeholder = "Password" })       
                        </div>
                        <div class="form-group">
                            @Html.TextBox("Signupcpass", "", new { @class = "form-control input-lg", type = "password", placeholder = "Password" })                    
                        </div>
                        <div class="checkbox">

                            <asp:Label ID="Signuplabel" >
                                <asp:CheckBox ID="SignupPolicy"  name="forget" /> Agree to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>
                            </asp:Label>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <p>Already have account ? <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">Sign in here.</a></p>
                        <asp:Button ID="SignupButton"  class="btn btn-success btn-block btn-lg" Text="Sign up"></asp:Button>
                    </div>
                </div>
            </div>
        </div>

        <!-- end:modal-signup -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of t~/he document so the pages load faster -->
        <script src="@Url.Content("~/Content/Scripts/jquery.js")"></script>                                  
        <script src="@Url.Content("~/Content/Scripts/bootstrap.js")"></script>
        <script type="text/javascript" src="@Url.Content("http://maps.google.com/maps/api/js?sensor=false&amp;language=en")"></script>
        <script src="@Url.Content("~/Content/Scripts/gmap3.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.easing.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.jcarousel.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/imagesloaded.pkgd.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/masonry.pkgd.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.backstretch.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.nicescroll.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/script.js")"></script>
  
</body>
</html>
